body {
  min-width: 300px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  overflow: visible;
  padding: 10px;
}

nav {
  background-color: rgb(217, 228, 235);
  width: 300px;
  height: 100%;
  position: fixed;
  padding: 20px;
}

main {
  background-color: lightcyan;
  position: absolute;
  margin-left: 330px;
  margin-right: 20px;
  width: auto;
  padding: 20px;
}

header {
  color: black;
  font-size: 30px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
}

@media only screen and (max-width: 800px) {
  #navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 90%;
    max-height: 220px;
    padding: 20px;
    margin: 20px;
  }
  main {
    position: absolute;
    top: 240;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0px;
    width: 90%;
    margin: 20px;
  }
}